<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Kenteken">
    <div class="container">
      <mat-form-field class="full-width">
        <input matInput placeholder="Kenteken" #autofocus required autofocus [formControl]="plateFormControl" [errorStateMatcher]="platematcher" style="text-transform: uppercase;">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Land" name="country" required [formControl]="countryFormControl" [errorStateMatcher]="countrymatcher">
        <mat-icon *ngIf="countryFormControl.value != ''" matSuffix (click)="countryFormControl.setValue('')">close</mat-icon>
      </mat-form-field>

      <label class="custom-label" for="mat-input-2">Peildatum/tijd</label>
      <table class="" cellspacing="0"><tr>
        <td>
          <mat-form-field style="width:40px;">
            <input matInput placeholder="DD">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width:40px;">
            <input matInput placeholder="MM">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width:80px;">
            <input matInput placeholder="JJJJ">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width:40px;">
            <input matInput placeholder="HH">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width:40px;">
            <input matInput placeholder="MM">
          </mat-form-field>
        </td>
      </tr></table>

    </div>
  </mat-tab>


  <mat-tab label="Voertuig">
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Voertuigsoort" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Trefwoord" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="EIGEN INVOER" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Kenteken/Registratienummer">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Land">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Duplicaatcode">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="VINNummer">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Framenummer">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Kleur">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Omschrijving"></textarea>
      </mat-form-field>
    </div>
  </mat-tab>


  <mat-tab label="IB">
    <p style="text-align: center;">Geen bevraging uitgevoerd!</p>
  </mat-tab>
</mat-tab-group>

<script>
  document.getElementsByName('license')[0].focus();
</script>
