.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 85vh;
  background-color: #012F55;
}

.container.nopadding {
  padding: 0;
}

.container .full-width {
  width: 100%;
}
