<div class="menu_wrapper">
  <header>
    <div class="title">Menu</div>
  </header>
  <ul>
    <li routerLink="/person" (click)="closeMenu()"><img src="assets/icons/persoon.svg" />Persoon</li>
    <li><img src="assets/icons/vervoermiddel.svg" />Vervoermiddel</li>
    <li><img src="assets/icons/locatie.svg" />Locatie</li>
    <li><img src="assets/icons/uniek_nummer.svg" />Uniek nummer</li>
    <li><img src="assets/icons/multimedia.svg" />Multimedia</li>
    <li><img src="assets/icons/reload.svg" />Opslag & Historie</li>
    <li><img src="assets/icons/afhandelen.svg" />Afhandelen</li>
    <li class="border-top"><img src="assets/icons/persoon.svg" />Camera</li>
    <li class="border-top"><img src="assets/icons/persoon.svg" />Instellingen</li>
  </ul>
</div>
<div class="menu_overlay" (click)="closeMenu()"></div>
