.vnav-item {
  position: relative;
  width: 100%;
  background: #023867;
  border-bottom: 1px solid #042641;
  padding: 25px 45px;
  color: #fff;
}

.vnav-item:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  -webkit-background-size: 10px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center 8px;
}

.vnav-item.manual:before {
  background-image: url('/assets/icons/pencil.svg');
  background-color: #EA7100;
}

.vnav-item.reuse:before {
  background-image: url('/assets/icons/clock.svg');
  background-color: #ead800;
}

.vnav-item.scan:before {
  background-image: url('/assets/icons/phone.svg');
  background-color: #006F00;
}

.vnav-item.search:before {
  background-image: url('/assets/icons/magnifying-glass.svg');
  background-color: #006BE8;
}

.vnav-item.disabled:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
}

::ng-deep .vnav-item img {
  vertical-align: middle;
  margin-right: 20px;
  height: 45px;
  width: 45px;
}
