



.block_grid {
  height: calc(100vh - 50px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.block_grid > div {
  display: flex;
  flex-basis: calc(50%);
  justify-content: center;
  flex-direction: column;
}

.block_grid > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 80px 0 0 0;
}

.block {
  /*display: inline-block;*/
  /*width: 50%;*/
  /*height: 148px;*/
  /*padding: 100px 20px 0;*/
  font-size: 14px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #052842;
  /*border-right: 2px solid #052842;*/
  background: #023867 no-repeat center 20px;
  text-decoration: none;
}

.block:nth-child(2n) {
  border-left: 2px solid #052842;
}

.block:active {
  background-color: #236AA4;
}

.block--person {
  background-image: url('/assets/icons/persoon.svg');
}

.block--vehicle {
  background-image: url('/assets/icons/vervoermiddel.svg');
}

.block--location {
  background-image: url('/assets/icons/locatie.svg');
}

.block--number {
  background-image: url('/assets/icons/uniek_nummer.svg');
}

.block--media {
  background-image: url('/assets/icons/multimedia.svg');
}

.block--work {
  background-image: url('/assets/icons/afhandelen.svg');
}

.block--history {
  background-image: url('/assets/icons/reload.svg');
}

.block--anpr {
  background-image: url('/assets/icons/anpr.svg');
}

.block--empty {
  background: #052842;
}
