<div class="block_grid">
  <div class="block block--person" routerLink="/person"><div>Persoon</div></div>
  <div class="block block--vehicle" routerLink="/vehicle"><div>Vervoermiddel</div></div>
  <div class="block block--location"><div>Locatie</div></div>
  <div class="block block--number"><div>Goed</div></div>
  <div class="block block--media"><div>Multimedia</div></div>
  <div class="block block--work" routerLink="/administrate"><div>Afhandelen</div></div>
  <div class="block block--history"><div>Opslag & Historie</div></div>
  <div class="block block--anpr" routerLink="/anpr"><div>ANPR</div></div>
  <!--<div class="block block&#45;&#45;empty"><div></div></div>-->
</div>
