<app-vnav>
  <app-vnav-item [disabled]="true" [type]="'reuse'"><img src="/assets/icons/reload.svg" />Bewerk opslag</app-vnav-item>
  <app-vnav-item [disabled]="true" [type]="'scan'"><img src="/assets/icons/anpr.svg" />Scan Kenteken</app-vnav-item>
  <app-vnav-item routerLink="/vehicle-search" [type]="'search'"><img src="/assets/icons/kenteken.svg" />Zoek op kenteken</app-vnav-item>
  <app-vnav-item [type]="'search'"><img src="/assets/icons/number.svg" />Zoek op nummer</app-vnav-item>
  <app-vnav-item [disabled]="true" [type]="'manual'"><img src="/assets/icons/vervoermiddel.svg" />Vervoermiddel invoeren</app-vnav-item>
</app-vnav>
