<app-vnav>
  <app-vnav-item [disabled]="true" [type]="'reuse'"><img src="/assets/icons/reload.svg" />Bewerk opslag</app-vnav-item>
  <app-vnav-item [type]="'scan'"><img src="/assets/icons/anpr.svg" />Scan Paspoort</app-vnav-item>
  <app-vnav-item [type]="'scan'"><img src="/assets/icons/anpr.svg" />Scan ID kaart</app-vnav-item>
  <app-vnav-item [type]="'scan'"><img src="/assets/icons/anpr.svg" />Scan Rijbewijs</app-vnav-item>
  <app-vnav-item [type]="'search'"><img src="/assets/icons/kenteken.svg" />Handmatig obv document</app-vnav-item>
  <app-vnav-item [type]="'search'"><img src="/assets/icons/number.svg" />Zoek Persoonsnummer</app-vnav-item>
  <app-vnav-item [type]="'search'"><img src="/assets/icons/number.svg" />Zoek op Persoonssleutel</app-vnav-item>
  <app-vnav-item [type]="'search'"><img src="/assets/icons/number.svg" />Zoek op Naam</app-vnav-item>
  <app-vnav-item [type]="'manual'"><img src="/assets/icons/vervoermiddel.svg" />Invoeren natuurlijkpersoon</app-vnav-item>
  <app-vnav-item [disabled]="true" [type]="'scan'"><img src="/assets/icons/fingerprint.svg" />Scan Vingerafdruk</app-vnav-item>
</app-vnav>
